body {
	margin-top: 50px;

}

.padding-50{
	padding-top:50px !important;
	padding-bottom: 50px !important;
}

.padding-20{
	padding-top:20px !important;
	padding-bottom: 20px !important;
}

img{
	max-width: 100%;
}

.text-center{
	text-align: center !important;
}

canvas{
	margin-bottom: 30px;
}

.relative{
	position: relative !important;
}

.navbar-header{
	float: none;
    text-align: center;
    margin: auto;
}

.navbar-brand{
	display: inline-block;
    float: none;
}